html, .player {
    background-color: #28b674;
}

html, #root, .fullHeight {
    height: 100%;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: white;
}

.qTitle {
    font-size: 45px;
    padding: 10px;
}

.player .qTitle {
    font-size: 2em;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%
}

body {
    height: calc(100% - 50px)
}

svg {
    overflow: visible;
}

.MuiContainer-maxWidthMd {
    max-width: 1200px !important;
}


.rowEven {
    background-color: #a8f6a4;
}

.MuiCollapse-hidden {
    display: none
}


.MuiInput-underline:after, .MuiInput-underline:before {
    border-bottom-color: white !important;
}

.administratie .MuiInputBase-input, .administratie .MuiInputBase-root, .administratie .MuiInputLabel-formControl, .administratie input {
    color: black !important;
}

.administratie {
    color: black;
    background-color: #28b674;
}

.player .multiAnswer {
    font-size: 1em !important;
}

#openVideo {
        position: relative;
        top: 0%;
        width: 100%;
        height: 100%;
        text-align: center; /* Centered text/links */
}

video {
    width: inherit;
    height: inherit;
}