html {
  background-color: #28b674;
}

html, #root, .fullHeight {
  height: 100%;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;

}

html, body {
  margin: 0;
  padding: 0;
}

svg {
  overflow: visible;
}

.MuiContainer-maxWidthMd {
  max-width: 1200px !important;
}
body {
  height: calc(100% - 50px)
}


.rowEven {
    background-color: #a8f6a4;
}

.MuiCollapse-hidden {
  display: none
}